.home__section{
    display: flex;
    padding: 30px;
}

.home__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    /* margin: 20px 10px; */
    padding-right: 5vw;
    padding-left: 5vw;
    place-items: center;
    /* padding: 0 70px 0 70px; */
}
.card_wrapper{
    /* width: 20vw; */
    width: 22vw;
    /* height: 18vw; */
    margin: 10px 0;
}
@media only screen and (max-width: 1127px) and (min-width: 950px){
    .home__container{
        grid-template-columns: repeat(3,1fr);
    }
    .card_wrapper{
        width: 32vw;
    }
}
@media only screen and (max-width: 950px) and (min-width: 540px){
    .home__container{
        grid-template-columns: repeat(2,1fr);
    }
    .card_wrapper{
        width: 45vw;
    }
}
@media only screen and (max-width: 540px){
    .home__section{
        display: block;
    }
    .home__container{
        grid-template-columns: repeat(1,1fr);
    }
    .card_wrapper{
        width: 90vw;
    }
}